server:
  port: 7001

eureka:
  instance:
    #hostname: localhost # eureka服务端的实例名称[单机版]
    hostname: eureka7001.com # eureka服务端的实例名称【集群版】
  client:
    # false 表示不向注册中心注册自己
    registry-with-eureka: false
    # false 表示自己端就是注册中心，职责就是维护服务实例，并不需要去检索服务
    fetch-registry: false
    service-url:
      # 设置与Eureka Server交互的地址查询服务和注册服务都需要依赖这个地址
      # 【单机版】
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
      # 【集群版】
      #defaultZone: http://eureka7002.com:7002/eureka/
  server:
    # 禁用自我保护模式【默认true】
    #enable-self-preservation: false
    #eviction-interval-timer-in-ms: 2000